{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ title }}</h1>
        {% if image_files %}
        <a href="{{ url_for('slideshow', filename=image_files[0]) }}" class="btn btn-primary">スライドショーを開始</a>
        {% endif %}
    </div>
    {% if image_files %}
        <ul>
            {% for filename in image_files %}
                <li><a href="{{ url_for('image_display', filename=filename) }}">{{ filename }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>画像ファイルが見つかりませんでした。</p>
    {% endif %}
{% endblock %}